/* Подключение иконочных шрифтов */

@charset "UTF-8";

@font-face {
	font-family: "symbols-nerds";
	font-weight: normal;
	font-style: normal;

	src: url("../font/symbols-nerds.eot?27841936");
	src: url("../font/symbols-nerds.eot?27841936#iefix") format("embedded-opentype"),
	url("../font/symbols-nerds.woff?27841936") format("woff"),
	url("../font/symbols-nerds.ttf?27841936") format("truetype"),
	url("../font/symbols-nerds.svg?27841936#symbols-nerds") format("svg");
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "symbols-nerds";
		src: url("../font/symbols-nerds.svg?27841936#symbols-nerds") format("svg");
	}
}
*/

[class^="icon-font"]:before,
[class*=" icon-font"]:before {
	display: inline-block;

	width: 1em;
	margin-right: .2em;
	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	font-family: "symbols-nerds";
	font-weight: normal;
	font-style: normal;
	/* opacity: .8; */
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	text-align: center;
	text-decoration: inherit;
	text-transform: none;

	speak: none;
	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */
	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-font--basket:before {
	content: "\62";
} /* "b" */
.icon-font--facebook:before {
	content: "\66";
} /* "f" */
.icon-font--twitter:before {
	content: "\74";
} /* "t" */
.icon-font--vk:before {
	content: "\76";
} /* "v" */
.icon-font--up-dir:before {
	content: "\25b2";
} /* "▲" */
.icon-font--down-dir:before {
	content: "\25bc";
} /* "▼" */
.icon-font--circle:before {
	content: "\25cb";
} /* "○" */
.icon-font--circle-dot:before {
	content: "\25cf";
} /* "●" */
.icon-font--check-off:before {
	content: "\2610";
} /* "☐" */
.icon-font--check-on:before {
	content: "\2611";
} /* "☑" */
.icon-font--instagramm:before {
	content: "📷";
} /* "\1f4f7" */



/* Common */

.page {
	min-width: 900px;

	color: #000;
	background: #fff;

	font-family: "Roboto", sans-serif;
}

.wrapper {
	width: 880px;
	margin: auto;
	padding: 0 10px;
}

.clearfix:before,
.clearfix:after {
	content: " ";

	display: table;
}
.clearfix:after {
	clear: both;
}

.btn {
	display: inline-block;

	padding-top: 10px;
	padding-bottom: 10px;

	color: #fff;
	border-radius: 3px;

	font-size: 12px;
	font-weight: 500;
	line-height: 1.5;

	text-decoration: none;
	text-transform: uppercase;
}

/**
* @page-header
*/
.page-header {
	padding-top: 27px;

	background-color: #eee;
}

.page-header__top {
	margin-bottom: 30px;
}

.page-header .logo {
	float: left;
}

.logo {
	display: block;

	text-decoration: none;
}

.page-header .main-nav {
	float: right;

	margin-top: 27px;
}

.main-nav {
	width: 560px;

	font-size: 0;
}

.main-nav__link {
	display: inline-block;

	margin-right: 45px;

	color: #000;

	font-size: 14px;
	font-weight: 500;
	line-height: 2.14; /* 30px */

	vertical-align: top;
	text-decoration: none;
	text-transform: uppercase;
}

.main-nav__link:hover {
	color: #fb565a;
}

.main-nav__link:active {
	opacity: .4;
	color: #000;
}

.main-nav__link--active {
	border-bottom: 4px solid #fb565a;
}

.main-nav__link--active:hover {
	color: #000;
}

.main-nav__link--active:active {
	opacity: 1;
}


.main-nav__link:last-of-type {
	margin-right: 0;
	margin-left: 20px;
}

.main-nav .icon-font--basket {
	margin-right: 9px;

	opacity: .3;

	font-family: "symbols-nerds";
	font-size: 16px;
	line-height: 1;
}

/**
* ^Slider
*/

.slider {
	position: relative;
}

.slider__radio-btn {
	position: absolute;

	opacity: 1;
}

.slider__controls {
	position: absolute;
	bottom: 95px;
	left: 50%;
	z-index: 30;

	width: 180px;
	margin-left: -90px;

	font-size: 0;

	text-align: center;
}

.slider__toggle {
	display: inline-block;

	width: 4px;
	height: 4px;
	margin-right: 9px;
	border: 3px solid #fff;

	border-radius: 50%;

	cursor: pointer;
	vertical-align: top;
}

#toggle-1:checked ~ .slider__controls .slider__toggle[for="toggle-1"],
#toggle-2:checked ~ .slider__controls .slider__toggle[for="toggle-2"],
#toggle-3:checked ~ .slider__controls .slider__toggle[for="toggle-3"] {
	background-color: #c1c1c1;
}

.slide {
	position: relative;
	top: 0;
	left: 0;

	display: none;

	width: 100%;
	min-height: 320px;
}

#toggle-1:checked ~ .slider__slide-first {
	display: block;

	background: #eee url(../img/slider__img1.png) no-repeat 100% 20px;
}

#toggle-2:checked ~ .slider__slide-second {
	display: block;

	background: #eee url(../img/slider__img2.png) no-repeat 100% 20px;
}

#toggle-3:checked ~ .slider__slide-third {
	display: block;

	background: #eee url(../img/slider__img3.png) no-repeat 100% 0;
}

.slide__content {
	width: 480px;
	padding: 40px 0;
}
.slide__title {
	margin: 0;
	margin-bottom: 18px;

	font-size: 36px;
	font-weight: 500;
	line-height: 1;
}

.slide__text {
	margin: 0;
	margin-bottom: 27px;

	color: #283136;

	font-size: 16px;
	font-weight: 500;
	line-height: 1.38;
}

.slider .btn {
	padding-right: 70px;
	padding-left: 70px;

	background: #fb565a;
}
