/* Подключение иконочных шрифтов */

@charset "UTF-8";

@font-face {
	font-family: "symbols-nerds";
	font-weight: normal;
	font-style: normal;

	src: url("../font/symbols-nerds.eot?27841936");
	src: url("../font/symbols-nerds.eot?27841936#iefix") format("embedded-opentype"),
	url("../font/symbols-nerds.woff?27841936") format("woff"),
	url("../font/symbols-nerds.ttf?27841936") format("truetype"),
	url("../font/symbols-nerds.svg?27841936#symbols-nerds") format("svg");
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "symbols-nerds";
		src: url("../font/symbols-nerds.svg?27841936#symbols-nerds") format("svg");
	}
}
*/

[class^="icon-font"]:before,
[class*=" icon-font"]:before {
	display: inline-block;

	width: 1em;
	margin-right: .2em;
	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	font-family: "symbols-nerds";
	font-weight: normal;
	font-style: normal;
	/* opacity: .8; */
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	text-align: center;
	text-decoration: inherit;
	text-transform: none;

	speak: none;
	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */
	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-font--basket:before {
	content: "\62";
} /* "b" */
.icon-font--facebook:before {
	content: "\66";
} /* "f" */
.icon-font--twitter:before {
	content: "\74";
} /* "t" */
.icon-font--vk:before {
	content: "\76";
} /* "v" */
.icon-font--up-dir:before {
	content: "\25b2";
} /* "▲" */
.icon-font--down-dir:before {
	content: "\25bc";
} /* "▼" */
.icon-font--circle:before {
	content: "\25cb";
} /* "○" */
.icon-font--circle-dot:before {
	content: "\25cf";
} /* "●" */
.icon-font--check-off:before {
	content: "\2610";
} /* "☐" */
.icon-font--check-on:before {
	content: "\2611";
} /* "☑" */
.icon-font--instagramm:before {
	content: "📷";
} /* "\1f4f7" */



/* Common */

.page {
	min-width: 900px;

	color: #000;
	background: #fff;

	font-family: "Roboto", sans-serif;
	font-weight: 500;
}

.wrapper {
	width: 880px;
	margin: auto;
	padding: 0 10px;
}

.clearfix:before,
.clearfix:after {
	content: " ";

	display: table;
}
.clearfix:after {
	clear: both;
}

.btn {
	display: inline-block;

	padding-top: 10px;
	padding-bottom: 10px;

	color: #fff;
	border-radius: 3px;

	font-size: 12px;
	font-weight: 500;
	line-height: 1.5;

	text-decoration: none;
	text-transform: uppercase;
}

/**
* Header
*/


/**
* @page-header
*/

.page-header {
	padding-top: 27px;

	background-color: #eee;
}

.page-header .logo {
	float: left;

	width: 139px;
}

.logo {
	display: block;

	text-decoration: none;
}

.page-header .main-nav {
	float: right;

	margin-top: 27px;
}

.main-nav {
	width: 560px;

	font-size: 0;
}

.main-nav__link {
	display: inline-block;

	margin-right: 45px;

	color: #000;

	font-size: 14px;
	font-weight: 500;
	line-height: 2.14; /* 30px */

	vertical-align: top;
	text-decoration: none;
	text-transform: uppercase;
}

.main-nav__link:hover {
	color: #fb565a;
}

.main-nav__link:active {
	opacity: .4;
	color: #000;
}

.main-nav__link--active {
	border-bottom: 4px solid #fb565a;
}

.main-nav__link--active:hover {
	color: #000;
}

.main-nav__link--active:active {
	opacity: 1;
}


.main-nav__link:last-of-type {
	margin-right: 0;
	margin-left: 20px;
}

.main-nav .icon-font--basket {
	margin-right: 9px;

	opacity: .3;

	font-family: "symbols-nerds";
	font-size: 16px;
	line-height: 1;
}

/**
* @Slider
*/

.page-header .slider {
	margin-top: 30px;
}

.slider {
	position: relative;
}

.slider__radio-btn {
	position: absolute;

	opacity: 0;
}

.slider__controls {
	position: absolute;
	bottom: 95px;
	left: 50%;
	z-index: 30;

	width: 200px;
	margin-left: -106px;

	font-size: 0;

	text-align: center;
}

.slider__toggle {
	display: inline-block;

	width: 4px;
	height: 4px;
	margin-right: 9px;
	border: 3px solid #fff;

	border-radius: 50%;

	cursor: pointer;
	vertical-align: top;
}

#toggle-1:checked ~ .slider__controls .slider__toggle[for="toggle-1"],
#toggle-2:checked ~ .slider__controls .slider__toggle[for="toggle-2"],
#toggle-3:checked ~ .slider__controls .slider__toggle[for="toggle-3"] {
	background-color: #c1c1c1;
}

.slide {
	display: none;

	padding-bottom: 40px;
}

#toggle-1:checked ~ .slider__slide-first {
	display: block;

	background: #eee url(../img/slider__img1.png) no-repeat 100% 20px;
}

#toggle-2:checked ~ .slider__slide-second {
	display: block;

	background: #eee url(../img/slider__img2.png) no-repeat 100% 20px;
}

#toggle-3:checked ~ .slider__slide-third {
	display: block;

	background: #eee url(../img/slider__img3.png) no-repeat 100% 0;
}

.slide__content {
	width: 480px;
	padding: 40px 0;
}
.slide__title {
	margin: 0;
	margin-bottom: 18px;

	font-size: 36px;
	font-weight: 500;
	line-height: 1;
}

.slide__text {
	margin: 0;
	margin-bottom: 27px;

	color: #283136;

	font-weight: 500;
	line-height: 1.38;
}

.slider .btn {
	padding-right: 70px;
	padding-left: 70px;

	background: #fb565a;
}

/**
* Content
*/



/**
* @services
*/

.services {
	padding: 80px 0;
}

.services__product {
	float: left;

	width: 240px;
	margin-right: 80px;
}

.services__product:last-child {
	margin-right: 0;
}

.services__title {
	margin: 0;
	margin-top: 19px;
	margin-bottom: 14px;

	font-size: 18px;
	font-weight: 500;
	line-height: 1.67;

	text-transform: uppercase;
}

.services__text {
	margin: 0;
	margin-bottom: 26px;

	color: #283136;

	font-size: 15px;
	font-weight: 500;
	line-height: 1.47;
}

.services .btn {
	padding-right: 39px;
	padding-left: 39px;
}

.services .btn:active {
	box-shadow: inset 0 0 0 3px rgba(0,0,0, .15);
}

.btn--red {
	background-color: #fb565a;
}

.btn--red:hover {
	background-color: #d6494d;
}

.btn--red:active {
	background-color: #b63538;
}

.btn--green {
	background-color: #00ca74;
}

.btn--green:hover {
	background-color: #01a25e;
}

.btn--green:active {
	background-color: #009053;
}

.btn--yellow {
	background-color: #efc84a;
}

.btn-yellow:hover {
	background-color: #d6ae2c;
}

.btn-yellow:active {
	background-color: #c09b24;
}

/**
* @about-us
*/

.about-us {
	padding-bottom: 72px;

	color: #283136;

	line-height: 1.38;
}

.about-us__left-column {
	float: left;

	width: 595px;
	padding-top: 73px;
}

.about-us__right-column {
	float: right;

	width: 240px;
	padding-top: 61px;

	line-height: 1.38;
}

.about-us__title {
	margin: 0;
	margin-bottom: 18px;

	color: #000;

	font-size: 36px;
	font-weight: 500;
	line-height: 1;
}

.about-us__text {
	margin: 0;

	font-weight: 500;
}

.about-us__features-title {
	margin: 0;
	margin-top: 44px;

	font-size: 16px;
	font-weight: 500;

	text-transform: uppercase;
}

.about-us__features-list {
	margin: 0;
	padding: 0;
	padding-top: 21px;
	padding-left: 35px;

	font-weight: 500;

	list-style-type: none;
}

.about-us__features-text {
	position: relative;

	margin-bottom: 22px;
}

.about-us__features-text:before {
	content: "";

	position: absolute;
	top: 10px;
	left: -35px;

	width: 25px;
	height: 2px;

	background-color: #fb565a;
}

.about-us__right-column .about-us__features-title {
	margin-top: 65px;
}

/**
* @portfolio
*/

.content .portfolio {
	margin-bottom: 90px;
}

.portfolio {
	padding-right: 12px;
	padding-left: 20px;
}

.portfolio__logo {
	float: left;

	width: 210px;
	margin-right: 109px;

	opacity: .2;
}

.portfolio__logo:last-child {
	margin-right: 0;
}

.portfolio__logo--glukhanko {
	padding-top: 45px;
}

.portfolio__logo--academy {
	padding-top: 38px;
}

.portfolio__logo--borodinsky {
	padding-top: 21px;
}

.portfolio__logo:hover {
	opacity: 1;
}

.portfolio__logo:active {
	opacity: 1;
}

/**
* @map
*/

.map {
	position: relative;
}

.map__container {
	min-height: 417px;

	background: #e5e5e5 url("../img/map.jpg") no-repeat center;
	background-size: 100% ;
}

.contacts {
	position: absolute;
	top: 88px;
	left: 191px;

	width: 195px;
	padding: 24px 22px 26px 23px;

	background-color: #fff;

	font-weight: 500;
	line-height: 1.25;
}

.contacts__title {
	margin-bottom: 11px;

	line-height: 1.88;

	text-transform: uppercase;
}

.contacts__address {
	margin: 0;
	margin-bottom: 20px;

	color: #666;
}

.contacts__phone {
	margin-bottom: 30px;

	color: #666;
}

.contacts .btn {
	display: block;

	padding-right: 49px;
	padding-left: 49px;
}

/**
* Footer
*/

.footer-page {
	padding: 75px 0;
}

.footer-page .social {
	float: left;

	width: 241px;
}

.social {
	font-size: 0;
}

.social__icon {
	display: inline-block;

	width: 62px;
	height: 32px;
	margin-right: 27px;
	padding: 15px 0 15px;

	color: #fff;
	border-radius: 50%;
	background-color: #e1e1e1;

	font-size: 23px;

	text-align: center;
	vertical-align: top;
}

.social__icon:last-child {
	margin-right: 0;
}

.social__icon:hover {
	background-color: #fb565a;
}

.social__icon:active {
	background-color: #d6494d;
	box-shadow: inset 0 0 0 3px rgba(0,0,0, .15);
}

.footer-page .offer {
	float: right;

	width: 560px;
}

.offer__title {
	margin: 0;
	margin-bottom: 10px;

	font-size: 36px;
	font-weight: 500;
	line-height: 1;
}

.offer__text {
	margin: 0;

	color: #283136;

	font-weight: 500;
	line-height: 1.38;
}

/**
* @form-contact
*/

.page .form-contact {
	position: absolute;
	top: 380px;
	left: 50%;

	display: none;

	margin-left: -315px;
}

.form-contact {
	position: relative;

	width: 480px;
	padding: 54px 70px 50px 80px;

	background-color: #fff;
	box-shadow: 0 0 40px rgba(0,0,1, .75);

	font-size: 0;
}

.form-contact:before {
	content: "";

	position: absolute;
	top: 6px;
	right: 6px;

	width: 41px;
	height: 41px;

	border-radius: 50%;
	background: #fb565a url("../img/cross.png") no-repeat center;
}

.text-input,
.email-input {
	display: inline-block;

	width: 220px;

	vertical-align: top;
}

.text-input__text-field,
.email-input__text-field {
	width: 188px;
	padding: 8px 14px;
	border: 2px solid #d7dcde;

	outline: none;

	font-size: 12px;
	font-weight: 500;
	line-height: 1.5;

	text-transform: uppercase;
}



.form-contact .text-input {
	margin-right: 20px;
}

.form-contact__label {
	display: inline-block;

	width: 110px;

	vertical-align: top;
}

.form-contact__label {
	margin-bottom: 9px;

	font-size: 16px;
	font-weight: 500;
	line-height: 1.13;
}

.form-contact .textarea-input {
	margin-top: 21px;
	margin-bottom: 48px;
}

.textarea-input__notice-field {
	display: block;

	width: 428px;
	height: 101px;
	padding: 8px 14px 0;
	border: 2px solid #d7dcde;

	outline: none;

	font-size: 12px;
	font-weight: 500;
	line-height: 1.5;

	text-transform: uppercase;
}

.form-contact__btn {
	display: inline-block;

	width: 220px;
	padding: 10px 0;

	outline: none;

	font-size: 12px;
	font-weight: 500;
	line-height: 1.5;

	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.form-contact .form-contact__btn--send {
	margin-right: 20px;
}

.form-contact__btn--send {
	color: #fff;
	background-color: #fb565a;
}

.form-contact__btn--cancel {
	color: #000;
	background-color: #f1f1f1;
}

/**
* $Catalog-page
*/

.page-header--inner .greeting {
	margin-top: 63px;
}

.greeting {
	width: 700px;
	margin: 0 auto;
	padding-bottom: 86px;

	font-size: 40px;
	font-weight: 500;
	line-height: 1.15;

	text-align: center;
	text-transform: uppercase;
}

/**
* @content--inner
*/

.content--inner {
	padding: 74px 0 80px;
}



.content__left-column {
	float: left;

	width: 240px;

	outline: 1px solid red;
}

.content__right-column {
	float: right;

	width: 560px;

	outline: 1px solid red;
}

/**
* @form-choise-features
*/

.form-choise-features__top,
.form-choise-features__middle,
.form-choise-features__bottom {
	margin: 0;
	padding: 0;
	border: none;
}

.form-choise-features__top {
	margin-bottom: 43px;
}

.form-choise-features__middle {
	margin-bottom: 28px;
}

.form-choise-features__legend {
	margin-bottom: 14px;

	font-size: 18px;
	line-height: 1.67;

	text-transform: uppercase;
}

/**
* @range-filter
*/

.range-control {
	margin-bottom: 14px;
	padding: 39px 20px;

	border-radius: 5px;
	background-color: #f1f1f1;
}

.range-control__scale {
	position: relative;

	height: 2px;

	background-color: #d7dcde;
}

.range-control__bar {
	width: 150px;
	height: 2px;

	background-color: #00ca74;
}

.range-control__handle {
	position: absolute;
	top: -9px;
	left: 0;

	width: 4px;
	height: 5px;
	border: 7px solid #fff;

	border-radius: 50%;
	background-color: #ababab;
	box-shadow: 0 2px rgba(0,1,1, .14);

	cursor: pointer;
}

.range-control__handle--max {
	left: 140px;
}

.range-control__label {
	margin-right: 3.4px;

	color: #283136;

	line-height: 1.25;

	text-transform: uppercase;
}

.range-filter__text-field {
	width: 80px;
	margin-right: 18px;
	padding: 9px 0 8px;
	border: none;

	border-radius: 5px;
	outline: none;
	background-color: #f1f1f1;

	font-family: "Roboto", sans-serif;
	line-height: 1.38;

	text-align: center;
}

.range-filter__text-field:last-child {
	margin-right: 0;
}

/**
* radio-buttons
*/

.form-choise-features .radio {
	margin-bottom: 12px;
}

.radio__radio-button {
	display: none;
}

.radio__radio-button + .radio__label {
	display: inline-block;

	cursor: pointer;
	vertical-align: middle;
}

.radio__radio-button + .radio__label:before {
	content: "\25cb";

	display: inline-block;

	margin-right: 10px;

	color: #c1c1c1;

	font-family: "symbols-nerds";
	font-size: 28px;
	line-height: 1;

	vertical-align: middle;
}

.radio__radio-button:checked + .radio__label:before {
	content: "\25cf";
}

/**
* checkboxes
*/

.form-choise-features .checkbox {
	margin-bottom: 11px;
}

.checkbox__tick-box {
	display: none;
}

.checkbox__tick-box + .checkbox__label {
	display: inline-block;

	cursor: pointer;
	vertical-align: middle;
}

.checkbox__tick-box + .checkbox__label:before {
	content: "\2610";

	display: inline-block;

	width: 20px;
	margin-right: 14px;

	color: #c1c1c1;

	font-family: "symbols-nerds";
	font-size: 28px;
	line-height: 1;

	vertical-align: middle;
}

.checkbox__tick-box:checked + .checkbox__label:before {
	content: "\2611";
}

.form-choise-features__btn {
	display: block;

	width: 154px;
	margin-top: 44px;
	padding: 12px 0;
	border: none;

	border-radius: 3px;
	outline: none;
	background-color: #f1f1f1;

	font-family: "Roboto", sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 1.5;

	text-align: center;
	text-transform: uppercase;
}

/**
* @filter
*/

.filter .filter-nav {
	float: left;

	width: 480px;
}

.filter-nav {
	margin: 0;
	padding: 0;

	font-size: 0;

	list-style: none;
}

.filter-nav__item {
	display: inline-block;

	margin-right: 46px;
	padding-top: 5px;

	font-size: 12px;
	line-height: 1.5;

	vertical-align: top;
	text-transform: uppercase;
}

.filter-nav__item--title {
	margin-right: 39px;
}

.filter-nav__link {
	display: block;

	border-bottom: 1px dotted #00ca74;

	opacity: .3;
	color: #000;

	text-decoration: none;
}

.filter-nav__link--active {
	opacity: 1;
}

.filter-nav__link:hover {
	border-bottom: 1px solid #00ca74;

	opacity: 1;
}

.filter-nav__link:active {
	border-bottom: none;
}

.filter .switch {
	float: right;

	width: 29px;
}

.switch {
	font-size: 0;
}

.switch__btn-arrow {
	padding: 2px 0;
	border: none;

	color: #c1c1c1;
	outline: none;
	background-color: transparent;

	font-family: "symbols-nerds";
	font-size: 23px;
	line-height: 1;
}

.switch__btn-arrow:first-child {
	margin-right: 7px;
}

.switch__btn-arrow--active {
	color: #00ca74;
}
.switch__btn-arrow:hover {
	color: #b5b5b5;
}

.switch__btn-arrow:active {
	color: #000;
}



.icon-font--up-dir:before,
.icon-font--down-dir:before {
	width: 11px;
	margin-right: 0;
	margin-left: 0;
}
